<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    namespace:名称空间
-->
<mapper namespace="org.mikudd3.mapper.StudentMapper">
    <resultMap id="studentResult" type="org.mikudd3.pojo.Student">
        <id property="stuNo" column="stuNo"/>
        <result property="stuName" column="stuName"/>
        <result property="stuAge" column="stuAge"/>
        <result property="graName" column="graName"/>
        <!--            <result property="stuSex" column="stuSex" javaType="java.lang.Boolean" jdbcType="INTEGER"/>-->
    </resultMap>

    <!-- 增加一个学生 -->
    <insert id="addStudent" parameterType="org.mikudd3.pojo.Student">
        insert into student(stuNo,stuName,stuAge,graName)
        values
        (#{stuNo},#{stuName},#{stuAge},#{graName})
    </insert>
    <!--    <insert id="addStudentWithConverter" parameterType="org.mikudd3.pojo.Student">-->
    <!--        insert into student(stuNo,stuName,stuSex,stuAge,graName)-->
    <!--        values-->
    <!--        (#{stuNo},#{stuName},#{stuSex, javaType=java.lang.Boolean, jdbcType=INTEGER},#{stuAge},#{graName})-->
    <!--    </insert>-->

    <!-- 根据学号，删除一个学生 -->
    <delete id="deleteStudentByNo" parameterType="int">
        delete from student where stuNo=#{stuNo}
    </delete>

    <!-- 根据学号，修改学生信息 -->
    <update id="updateStudentByNo" parameterType="org.mikudd3.pojo.Student">
        update student
        set
        stuName=#{stuName}, stuAge=#{stuAge}, graName=#{graName}
        where stuNo=#{stuNo}
    </update>
    <!--    <update id="updateStudentByNo" parameterType="org.mikudd3.pojo.Student">-->
    <!--        update student-->
    <!--        set-->
    <!--        stuName=#{stuName}, stuAge=#{stuAge}, graName=#{graName} ,stuSex =-->
    <!--        #{stuSex, javaType=java.lang.Boolean, jdbcType=INTEGER},#{stuAge}-->
    <!--        where stuNo=#{stuNo}-->
    <!--    </update>-->

    <!-- 根据学号，查询一个学生 -->
    <select id="queryStudentByStuNo" parameterType="int" resultMap="studentResult">
        select * from student where stuNo=#{stuNo}
    </select>

    <!-- 查询全部学生 -->
    <select id="queryAllStudent" resultType="org.mikudd3.pojo.Student">
        select * from student
    </select>

    <!-- 调用存储过程，查询指定年级的学生人数 -->
    <select id="queryCountByGradeWithProcedure" statementType="CALLABLE" useCache="false">
        {
        CALL query_count_byGrade(
        #{gName,jdbcType=VARCHAR,mode=IN},
        #{sCount,jdbcType= INTEGER,mode=OUT}
        )
        }
    </select>

    <!-- 调用存储过程，删除指定学号的学生 -->
    <delete id="deleteByStuNoWithProcedure" statementType="CALLABLE">
        {
        CALL delete_byStuno(
        #{sno,jdbcType=NUMERIC,mode=IN}
        )
        }
    </delete>
</mapper>